<h2>Paises</h2>
<hr>
<ul class="list-group">
    <!-- <li 
        routerLink=""
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active"
        class="list-group-item">
        HomePage
    </li>
    <li 
        routerLinkActive="active"
        routerLink="about"
        class="list-group-item">
        AboutPage
    </li>
    <li 
    routerLinkActive="active"
    routerLink="contact"
    class="list-group-item">
    Contact Page
    </li> -->
    <li 
    routerLinkActive="active"
    routerLink="countries/by-capital"
    class="list-group-item">
    Por Capital
    </li>

    <li 
    routerLinkActive="active"
    routerLink="countries/by-country"
    class="list-group-item">
    Por Pais
    </li>

    <li 
    routerLinkActive="active"
    routerLink="countries/by-region"
    class="list-group-item">
    Por Region
    </li>

    
</ul>